<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <!-- 현재 위치를 위한 권한 요청 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 인터넷 사용 권한 요청. 최신 버전에서도 런타임에 체크할 필요 없음 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="여심저격"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- 구글 클라우드 플랫폼에서 발급받은 API 키를 여기에 넣음 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhIEEnp2BhmJAJu1lmEFxjvvcTrCsEEis" />
        <!-- 구글 플레이 서비스 버전을 적는 곳으로 그대로 타이핑 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 안드로이드 파이 버전부터 필요 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ReportActivity"
            android:label="신고"/>
        <activity android:name=".ReportListActivity"
            android:label="신고 목록"/>
        <activity android:name=".MapActivity"
            android:label="지도"/>

        <activity android:name=".LoginActivity"
            android:label="로그인"/>

        <!-- 시작 점 -->
        <activity android:name=".LoadingActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="화장실 찾기"/>
    </application>

</manifest>